<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>se.leap.bitmask-root.fw-up</string>
	<key>ProgramArguments</key>
	<array>
		<string>bitmask-root</string>
		<string>firewall</string>
		<string>up</string>
	</array>
	<key>Program</key>
	<string>/Users/chiiph/Code/leap/bitmask-root/DerivedData/bitmask-root/Build/Products/Debug/bitmask-root</string>
	<key>KeepAlive</key>
	<false/>
	<key>Debug</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/daemonStdout</string>
	<key>StandardErrorPath</key>
	<string>/tmp/daemonStderr</string>
	<key>OnDemand</key>
	<true/>
</dict>
</plist>
